//
//  Cutom
//  =============================================

//Colors

// Menu background

$pale-violet-red  = rgba(219,112,147,.9)    // source : #DB7093
$lavender       = #E6E6FA                   // 可以直接用的颜色。。我就当备注好了emm
$aliceBlue      = #F0F8FF                   // 可以直接用的颜色。。我就当备注好了emm
$twitter-pink   = #F58EA8
$violet         = rgba(238, 130, 238, 0.5)  // 被我调淡了的颜色
